/**
 * SPDX-FileCopyrightText: 2022 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
 
.icon-announcementcenter-dark {
	background-image: url(../img/announcementcenter-dark.svg);
	filter: var(--background-invert-if-dark);
}

.icon-notifications-off {
	background-image: url(../img/notifications-off.svg);
	filter: var(--background-invert-if-dark);
}
