#subject {
	width: 706px;
	font-size: 20px;
}

#message {
	width: 720px;
	height: 350px;
}

#app-content hr {
	width: 85%;
	border: none;
	border-bottom: solid 1px var(--color-border-dark);
}

#announcement_submit_msg.success {
	color: #fff;
	background-color: #47a447;
	border-radius: 3px;
	padding: 3px;
}

#announcement_submit_msg.error {
	color: #fff;
	background-color: #d2322d;
	border-radius: 3px;
	padding: 3px;
}

.emptycontent-admin {
	position: inherit !important;
	margin-top: 50px !important;
}

#lazyload {
	text-align: center;
	padding: 50px;
}

#app-content .visibility .icon,
#app-content .delete-link .icon,
#app-content .mute-link .icon {
	width: 16px;
	vertical-align: middle;
	padding-bottom: 3px;
	display: inline-block;
}

#app-content .delete-link,
#app-content .mute-link {
	display: none;
}

#app-content .section:hover .delete-link,
#app-content .section:hover .mute-link {
	display: inline;
}

#app-sidebar .tab {
	padding: 15px
}

#app input[type='text'] {
	box-sizing: content-box;
}

@include icon-black-white('announcementcenter-dark', 'announcementcenter', 1);
@include icon-black-white('notifications-off', 'announcementcenter', 1);

.section > span {
	padding-right: 7px;
	color: #878787;
}

.section > blockquote {
	padding: 5px 10px;
	border-left: 1px solid var(--color-border-dark);
}

.section > ul,
ol {
	padding-inline-start: 40px;
}

.section > ul {
	list-style-type: disc;
}

.section > ul ul {
	list-style-type: circle;
}

.section > ul ul ul {
	list-style-type: square;
}

#app-content .avatar {
	vertical-align: middle;
	display: inline-block;
	margin: 0 5px 2px 3px;
}

#app-content .avatar-name-wrapper {
	position: relative;
	cursor: pointer;
	display: inline-block;
}

#commentsTabView_header > p {
	margin: 10px;
	font-size: 22px;
	font-weight: bold;
	color: var(--color-text-light);
	display: inline-block;
}

#commentsTabView_close_button {
	margin: 5px;
	position: absolute;
	right: 0;
}
