#subject {
	width: 706px;
	font-size: 20px;
}

#message {
	width: 720px;
	height: 350px;
}

#app-content hr {
	width: 85%;
	border: none;
	border-bottom: solid 1px #ddd;
}

#announcement_submit_msg.success {
	color: #fff;
	background-color: #47a447;
	border-radius: 3px;
	padding: 3px;
}
#announcement_submit_msg.error {
	color: #fff;
	background-color: #d2322d;
	border-radius: 3px;
	padding: 3px;
}

.emptycontent-admin {
	position: inherit !important;
	margin-top: 50px !important;
}

#app-content .visibility img,
#app-content .delete-link img,
#app-content .mute-link img {
	width: 16px;
	vertical-align: middle;
	padding-bottom: 3px;
}

#app-content .delete-link,
#app-content .mute-link {
	display: none;
}

#app-content .section:hover .delete-link,
#app-content .section:hover .mute-link {
	display: inline;
}

#app-sidebar .tab {
	padding: 15px
}

#app input[type="text"] {
	box-sizing: content-box;
}

.icon-announcement {
	background-image: url('../img/announcementcenter-dark.svg');
}

.section > span {
	padding-right: 7px;
	color: #878787;
}

#app-content .avatar {
	vertical-align: middle;
	display: inline-block;
	margin: 0 5px 2px 3px;
}

#app-content .avatar-name-wrapper {
	position: relative;
	cursor: pointer;
	display: inline-block;
}
