.section {
	margin: 0;
}

#subject {
	width: 50%;
	font-size: 20px;
}

#message {
	width: 50%;
	height: 200px;
}

.select2-container {
	width: 50%;
}

#app-content hr {
	width: 85%;
	border: none;
	border-bottom: solid 1px var(--color-border-dark);
}

#announcement_submit_msg.success {
	color: #fff;
	background-color: #47a447;
	border-radius: 5px;
	padding: 3px;
}

#announcement_submit_msg.error {
	color: #fff;
	background-color: #d2322d;
	border-radius: 5px;
	padding: 3px;
}

.emptycontent-admin {
	position: inherit !important;
	margin-top: 50px !important;
}

#app-content .visibility .icon,
#app-content .delete-link .icon,
#app-content .mute-link .icon {
	width: 16px;
	vertical-align: middle;
	padding-bottom: 3px;
	display: inline-block;
	width: 16px;
}

#app-sidebar {
	border-bottom: 1px solid var(--color-border);
}

#app-sidebar .tab {
	padding: 15px
}

#app input[type="text"] {
	box-sizing: content-box;
}

@include icon-black-white('announcementcenter-dark', 'announcementcenter', 1);
@include icon-black-white('notifications-off', 'announcementcenter', 1);

.section>span {
	padding-right: 7px;
	color: #878787;
}

.section>blockquote {
	padding: 5px 10px;
	border-left: 1px solid var(--color-border-dark);
}

.section>ul,
ol {
	padding-inline-start: 40px;
}

.section>ul {
	list-style-type: disc;
}

.section>ul ul {
	list-style-type: circle;
}

.section>ul ul ul {
	list-style-type: square;
}

.right-align {
	text-align: right;
}

#app-content .avatar {
	vertical-align: middle;
	display: inline-block;
	margin: 0 5px 2px 3px;
}

#app-content .avatar-name-wrapper {
	position: relative;
	cursor: pointer;
	display: inline-block;
}

#commentsTabView_header>p {
	margin: 10px;
	font-size: 22px;
	font-weight: bold;
	color: var(--color-text-light);
	display: inline-block;
}

#commentsTabView_close_button {
	margin: 5px;
	position: absolute;
	right: 0;
}

.collapsible {
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	border-radius: 5px;
}

.collapsible * {
	cursor: pointer;
}

.active,
.collapsible:hover {
	background-color: #555;
}

.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
}

@media only screen and (max-width: 600px) {

	#subject,
	#message,
	.collapsible,
	.select2-container,
	form#announce>input {
		width: 100%;
	}

	#app-sidebar {
		border-radius: 5px;
	}

	#app-sidebar {
		height: 50vh;
	}

	.section {
		padding: 20px;
	}

	.collapsible {
		padding-left: 0;
		padding-right: 0;
	}
}