<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="bootstrap.php"
		 strict="true"
		 verbose="true"
		 timeoutForSmallTests="900"
		 timeoutForMediumTests="900"
		 timeoutForLargeTests="900"
		>
	<testsuite name='ownCloud - Announcement Center App Tests'>
		<directory suffix='.php'>.</directory>
	</testsuite>
	<!-- filters for code coverage -->
	<filter>
		<whitelist>
			<directory suffix=".php">../../announcementcenter</directory>
			<exclude>
				<directory suffix=".php">../../announcementcenter/l10n</directory>
				<directory suffix=".php">../../announcementcenter/templates</directory>
				<directory suffix=".php">../../announcementcenter/tests</directory>
			</exclude>
		</whitelist>
	</filter>
	<logging>
		<!-- and this is where your report will be written -->
		<log type="coverage-clover" target="./clover.xml"/>
	</logging>
</phpunit>

